<form action="/user/create" method="post" class="form-signin" >
    <h2 class="form-signin-heading">Crea una cuenta</h2>

    <% if(flash && flash.error) { %>
        <ul class="alert alert-success" style="position:relative">
    <%  Object.keys(flash.error).forEach(function(error) {  %>
          <li><%- JSON.stringify(flash.error[error]) %></li>
    <%  }) %>
        </ul>
    <% }%>
    <div class="control-group">
        <input type="text" class="form-control" placeholder="Tu nombre" name="nombre" id="nombre">
    </div>
    <div class="control-group">
        <input type="text" class="form-control" placeholder="Tu titulo" name="titulo" id="titulo">
    </div>
    <div class="control-group">
        <input type="text" class="form-control" placeholder="Direccion email" name="email" id="email">
    </div>
    <div class="control-group">
        <input type="text" class="form-control" placeholder="password" name="password" id="password">
    </div>
    <div class="control-group">
        <input type="text" class="form-control" placeholder="confirma tu password" id="confirmacion" name="confirmacion">
        <br/>
    </div>

    <input type="submit" value="Crear Cuenta" class="btn btn-lg btn-primary btn-block"/>
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>
