<!-- div.container>div.jumbotron>h1+h2+a{Sign up now} -->
<div class="container">
    <div class="jumbotron">
        <h1>activityOverlord</h1>
        <h2>...tracking app activity better than the NSA since 1889.</h2>
        <a href="/user/new" class="btn btn-lg btn-success" >Sign up now</a>
    </div>
</div>
